html{height:100%;}
body{color:#333;font:14px/1.2em arial, sans-serif; height: 100%; min-height: 100%}
.main-view-area{background:#fff;margin:0 -15px;padding:0 10px 0;overflow:hidden;}
.main-site-area{background:#fff;margin:0 -15px;padding:0 10px 0;overflow:hidden;}
    .h4, h4 {
        font-size: 1.5rem !important;
    }

    .h3, h3 {
        font-size: 1.75rem !important;
    }

    .actions-col { -ms-flex: 0 0 20%; flex: 0 0 20%; max-width: 20%; }

	.actions-col > .row{padding:0 0px;}
		.column-caption{background:linear-gradient(to bottom, #5d626c 0%,#323741 100%);color:#fff;line-height:32px;padding:15px;}
			.column-caption select.form-control, .column-caption input.form-control{border-color:#fff;}
		.column-caption-lCol{background: #e0e3e5;padding:15px 4px;}

		.control-search{margin-bottom:2px; margin-left: 3px;}
			.control-search .input-group-addon{background:#fff;border:0;padding:3px;}
				.control-search .input-group-addon img{height:20px;width:20px;}

        .control-search input {
			margin-right: 19px;
		}

		.palette-wrapper {
		    overflow: hidden;
		    padding-left:5px;
		    padding-right:5px;
		}

		.actions-col > .actions-list{display:block;background:#8497b0; overflow-y:auto; color: #FFFFFF; font-weight: bold; }

		.action-item {
		    background:#8497b0;
		    cursor:pointer;
		    line-height:20px;
		    margin:3px 0 1px;
		    min-height:40px;
		    padding:8px 30px;
		    position:relative;
		    max-height: 40px;
		    font-weight: bold;
	    }
		.action-item:hover{background:#f4f4f4;border-color:#aaa; color: #000000;}
			.action-item .action-icon{display:inline-block;width:16px;line-height:20px;}
				.action-item .action-icon img{display:block;height:20px;width:20px;}
			.action-item .action-label{display:block;max-width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

			.action-item .left-icons{width:20px;line-height:20px;position:absolute;top:8px;left:6px;}
			.action-item .right-actions{display:none;line-height:20px;position:absolute;top:8px;right:6px;}
			.action-item:hover .right-actions{display:block;}
				.action-item .right-actions .action-icon{cursor:pointer;opacity:.4;transition:opacity 0.3s;}
				.action-item .right-actions .action-icon:hover{opacity:1;}

         .action-item-selected { border:1px solid #000000; }
         .action-item-selected:hover { border:1px solid #000000; }

        .action-item-empty { margin:8px 0 0px; background:#f4f4f4; border:1px dashed #c8c8c8;border-radius:5px;line-height:20px;min-height:40px;padding:8px 30px;position:relative;}
        .action-item-empty .action-label-empty{color: darkgray; text-align:center; display:block;max-width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

        .area-item-label {
            font-weight: bold;
        }

.layout-col { -ms-flex: 0 0 80%; flex: 0 0 80%; max-width: 80%; }
.layout-col-viewer { -ms-flex: 0 0 60%; flex: 0 0 60%; max-width: 60%; }
.rightColCaption{height:61px;overflow:hidden;}

.dialogHeaderButton { height:61px; overflow:hidden;  margin-top: -10px; }

.property-editor-panel-body{border-left: 2px solid #e0e3e5;overflow:auto; position: relative;}
	.property-editor-panel{padding:15px 15px 50px;}

.dropdown-tree-item:hover .dropdown-menu {
	display: block;
	margin-top: 0;
}


.template-action-item {margin:8px 0 0; height: 100px; max-height: 100px;}
         .layout-parent-box-wrapper {overflow:auto;}

        .full-line-box{padding:0 0 0 0;}

		.action-item-area-cols{display:none;padding:0 15px;}
		.action-item:hover .action-item-area-cols{display:block;}

		.action-item-area + .layout-draw > .col-12 + .col-12{border-left:1px solid #fff;}
		.action-item-area:hover + .layout-draw > .col-12 + .col-12{border-left:1px solid #c8c8c8;}

		.drop-text{color:#aaa;text-align:center;}

		.action-item-area-cols{padding:0;}
		.checkboxes-row{margin:0 -36px;}
			.checkboxes-row .col{margin-right:-4px;padding:0;}
		.column-wrapper {
			min-height: 50px;
			overflow: hidden;
			padding-bottom: 50px;
		}

        .column-view-wrapper  {
	         min-height: 50px;
	         overflow: hidden;
        }

        .palette-area {}

.sortable-item-list-placeholder {background: #222;height:2px; margin-bottom:-2px; position: relative; z-index: 1000}

.ui-dialog .ui-dialog-buttonpane {
	text-align: center;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: none;
}

.ui-front {
	z-index: 10000;
}

.form-check-horizontal-fieldset {display: block;}

.form-check-horizontal {
    position: relative;
    display: inline-block;
    margin-top: .5rem;
    flex:1;
}

.settingsBut {
	background:#7e8286;
	border:1px solid #a2a5a8;
	border-radius:2px;
	display:inline-block;
	float:left;
}

.settingsBut img {
	display: block; height: 29px; width: 29px; padding: 0 5px;
}

.pagingBut {
	background:#7e8286;
	border:1px solid #a2a5a8;
	border-radius:2px;
	display:inline-block;
	float:left;
	margin-left: 5px;
	padding: 0 5px;
	cursor: pointer;
}

.pagingBut span {
	display: block;
	height: 20px;
	width: 20px;
}

.area-title {
	margin:20px 0px 20px 5px;
}

/* Left menu restyling */
#left-tabs-area .ui-tabs-nav{background:none;border:0;}
#left-tabs-area.ui-tabs .ui-tabs-panel{padding:5px;}
.tree-action-menu{display:none;height:24px;line-height:24px;width:24px;position:relative;}
.jstree-node:hover > .tree-action-menu{display:inline-block;}
	.tree-action-menu-icon{cursor:pointer;height:24px;margin-left:4px;text-align:center;width:24px;opacity:0.3;transition:opacity 0.3s;z-index:10;position:relative;}
	.tree-action-menu-icon:hover{opacity:0.7;}
		.tree-action-menu-icon img{display:inline-block;height:18px;width:18px;}
	.tree-action-menu-list{background:#fff;box-shadow:0 0 5px rgba(0,0,0,.15);display:none;position:absolute;top:16px;left:12px;z-index:11;}
	.tree-action-menu:hover .tree-action-menu-list{display:block;}
		.tree-action-menu-listitem{cursor:pointer;display:block;font-size:11px;line-height:1.1em;padding:4px;}
		.tree-action-menu-listitem:hover{background:#eee;}


/* Edit functionallity */
.edit-area-wrapper{padding:6px 0 20px;}
	.edit-area-wrapper .full-line-box{margin-bottom:20px;}
	.edit-area{cursor:default;display:inline-block;line-height:16px;padding-right:30px;position:relative;}
	.caption-line .edit-area{padding-right:36px;}
		.edit-area button.action-button{background:#fff;border:1px solid #ddd;border-radius:3px;cursor:pointer;display:none;line-height:20px;padding:1px 2px;position:absolute;bottom:0;right:0;opacity:.5;transform:opacity 0.3s;outline:none;}
		.edit-area.form-title-editor button.action-button{background:none;}
		.edit-area button.action-edit:focus{outline:none;}
		.edit-area:hover button.action-edit{display:block;}
		.edit-area button.action-button:hover{opacity:1;}
		.edit-area.active button.action-edit{display:none;}
		.edit-area.active button.action-save{display:block;}
			.edit-area .action-button img{height:18px;width:18px;}
		.edit-area .edit-point{display:inline-block;font-size:12px;font-weight:700;}
		.edit-area.active .edit-point{cursor:pointer;display:none;}
		.edit-area .edit-input{border:1px solid #ddd;border-radius:3px;color:#444;display:none;line-height:16px;padding:3px 5px;}
		.edit-area.active .edit-input{display:inline-block;}
		.edit-area .edit-textarea{border:1px solid #ddd;border-radius:3px;color:#444;display:none;padding:3px 5px;width:100%;}
		.edit-area.active .edit-textarea{display:block;}

	.image-line{ width: 150px; }
		.image-line .edit-area{display:block;padding-right:0;}
		.image-line .edit-area button.action-button{padding:4px;right:auto;left:0;}
			.image-line .edit-area .action-button img{height:20px;width:20px;}
	.caption-line{margin-bottom:20px;}
		.caption-line h3{display:inline-block;line-height:1.2em;margin:0;}
		.caption-line .edit-area .edit-input{line-height:1.2em;}
		.caption-line .edit-area button.action-button{padding:4px;line-height:20px;bottom:5px;}
			.caption-line .edit-area .action-button img{height:20px;width:20px;}
	.param-name-line{font-size:11px;color:#999;line-height:20px;}
	.param-value-line{font-size:14px;color:#444;line-height:20px;margin-bottom:20px;}
	.paragraph-value-line{font-size:14px;color:#444;margin-bottom:20px;}
		.paragraph-value-line .edit-area.active{display:block;}


/* Element View / Edit */
.element-area {margin:5px 0;padding:0 10px;}

.element-area .left-column{width:calc(100% - 90px);}
    .element-area .element-label{margin-bottom:10px;}
    .element-area .element-label .is-not-edit{font-weight:700;line-height:31px;}
.element-area .right-column{float:right;width:80px;}
    .element-area .element-actions{text-align:right;}
        .element-area .element-action{background:#ccc;border-radius:2px;cursor:pointer;display:inline-block;outline:none;padding:3px;opacity:.4;transition:0.1s}
        .element-area .element-action:hover{opacity:.6;}
        .element-area .element-action-fullcolor{opacity:.8}
        .element-area .element-action-fullcolor:hover{opacity:1}
        .element-area .element-action-fullcolor2{opacity:1}
        .element-area .element-action-fullcolor2:hover{opacity:1}
        .element-area .element-action-nohover{cursor:default;}
            .element-area .element-action img{display:block;height:18px;outline:none;width:18px;}
    .element-area .weight{margin:10px 0;}
        .element-area .weight .text-lbl{color:#999;font-size:11px;margin-bottom:2px;}
        .element-area .weight .text-value{color:#444;font-size:14px;line-height:31px;}
        .element-area .weight .ui-spinner{width:100%;}

    .element-child-item{margin:10px 0;}
        .element-child-item .small{color:#999;}
        .element-child-item > .is-edit{border:1px solid #ddd;padding:6px;}
            .element-child-item > .is-edit .form-group:last-child{margin-bottom:0;}

.element-area .is-edit{display:none;}

.ui-draggable-dragging {
	border: 1px solid #000000;
	background:#ededed;
}
.answer-editor {
	border: 1px solid #ddd;
	padding: 5px;
	margin: 10px;
}

.answer-editor-template {
	border: 1px solid #ddd;
	padding: 5px;
	margin: 10px;
	display: none;
}

.custom-handle {
	text-align: center;
	margin-top: -40px;
}

.form-style-default {
}

.form-style-dark {
	background-color: black !important;
	color:green;
}
.form-style-dark .param-name-line { color: green; }
.form-style-dark .param-value-line { color: green; }
.form-style-dark .paragraph-value-line { color: green; }
.form-style-dark .element-area { background-color: #6c757d }



/* form styling */
.question-body .edit-area-wrapper{padding:0;}
    .question-body .edit-area-wrapper .full-line-box{display:none}
    .question-body .paragraph-value-line{;}

    .question-body .layout-draw{font-size:12px;}
    .question-body .layout-draw .element-area{background:none;margin:1px 0;;min-height:0;padding:5px 0;position:relative;}
    .question-body .layout-draw .element-area .element-label{float:left;margin:0;width:190px;}
    .question-body .layout-draw .element-area .element-label .is-not-edit{font-size:13px;font-weight:400;}
    .question-body .layout-draw .element-area .element-child-item{margin:0 0 0 200px;}
    .question-body .layout-draw .slider-box{padding:10px 0;}
    .question-body .layout-draw .slider-box .custom-handle{margin-top:-20px;}
    .question-body .layout-draw .dropdown-control-label{font-size:12px;height:30px !important;padding:2px 5px;}
    .question-body .layout-draw textarea{font-size:12px;}
    .question-body .layout-draw .checkbox-control-label, .question-body .layout-draw .radio-control-label{margin:0;}

    .question-body .paragraph-value-line{margin:20px 0 10px;}
        .question-body .area-description-editor{font-weight:700;padding:0;}
        .question-body .area-description-editor .edit-point{padding:0;}

.q-mainlist.col{padding:0;}
    .q-mainlist-item{background:#ecf2f5;border:1px solid #ecf2f5;color:#777;cursor:pointer;display:block;font-size:12px !important;line-height:28px;margin-bottom:2px;padding:2px 36px 0 22px;position:relative;}
    .q-mainlist-item.active{background:#d7e6ed;border-color:#a4c6d5;color:#000;font-weight:700;}
    .q-mainlist-item:hover:after{background:#a4a8aa url("../img/pattern-dragable.png");content:"";height:32px;width:13px;position:absolute;top:-1px;left:-1px;}

 .q-mainlist-item .element-action{display:inline-block;width:26px;opacity:.4;transition:opacity 0.3s;}
                    .q-mainlist-item .element-action:hover{opacity:.7;}
                        .q-mainlist-item .element-action img{height:26px;width:26px;}
                    .q-mainlist-item .icons-group--left{display:inline-block;margin-left:10px;position:relative;top:-2px;visibility:hidden;}
                    .q-mainlist-item.active .icons-group--left, .q-mainlist-item:hover .icons-group--left{visibility:visible;}
                    .q-mainlist-item .icons-group--right{display:inline-block;float:right;margin-left:10px;position:relative;top:-2px;visibility:hidden;}
                    .q-mainlist-item:hover .icons-group--right{visibility:visible;}
                        .q-mainlist-item .icons-group--right .icons-group--right-sub{display:inline-block;margin-right:20px;}

.q-list.col{padding:0;}
    .q-list-item{background:#ecf2f5;color:#333;cursor:pointer;display:block;font-size:12px !important;line-height:14px;margin-bottom:1px;padding:9px 36px 9px 10px;position:relative;}
    .q-list-item.active{background:#d7e6ed;}
    .q-list-item.answered:before{background:#71a5be;}
    .q-list-item.preanswered:after{background:#71a5be;border-radius:7px 0 0 7px;content:"";height:14px;width:7px;position:absolute;top:50%;right:18px;margin-top:-7px;}

.column-caption{background:#fff;}
    .column-caption .btn-success{background-color:#4b85a0;border-color:#4b85a0;}
    .column-caption .btn-success:focus{box-shadow:none;outline:none;}

.top-section .full-line-box{margin:0;}
.top-section .full-line-box .caption-line{margin:0;}
.top-section .caption-line h3{font-size:16px !important;}

.question-body .form-check input, .question-body .form-check-horizontal input{position:absolute;clip:rect(0, 0, 0, 0);}
.question-body .form-check input + label, .question-body .form-check-horizontal input + label{cursor:pointer;padding-left:26px;position:relative;margin-right:20px;}
.question-body .form-check input + label:after, .question-body .form-check-horizontal input + label:after{border:1px solid #000;content:"";height:18px;width:18px;position:absolute;top:-1px;left:0;}
.question-body .radio-control-label .form-check input + label:after, .question-body .radio-control-label .form-check-horizontal input + label:after{border-radius:50%;}
.question-body .form-check input:checked + label:after, .question-body .form-check-horizontal input:checked + label:after{background:#000;box-shadow:inset 0 0 0 3px #fff;}
.checkbox-control-label{padding-top:7px;}

.question-body .on-hover-controls{display:block;height:20px;text-align:right;width:70px;position:absolute;top:10px;right:10px;}
    .question-body .control-item{cursor:pointer;display:inline-block;height:20px;margin-left:5px;width:20px;opacity:0.5;}
    .question-body .control-item:hover, .question-body .control-item.active{opacity:1}
        .question-body .control-item img{width:20px;}

.area-attacments {display:none;margin:5px 0;}
    .area-attacments ul{display:block;list-style:none;margin:6px 0;padding:0;}
        .area-attacments ul li{padding:5px 30px 5px 0;position:relative;}
            .area-attacments ul li .area-attacments-remove{cursor:pointer;position:absolute;top:3px; padding-left:10px;opacity:0.5;}
            .area-attacments ul li .area-attacments-remove:hover{opacity:1}
                .area-attacments ul li .area-attacments-remove img{display:none; width:20px;}
                .area-attacments ul li:hover .area-attacments-remove img{display:block;}
                .area-attacments ul li .area-attacments-img img{width:16px;}
                .area-attacments ul li .area-attacments-lbl { border-bottom:1px dotted #c0c0c0; }
                .area-attacments ul li .area-attacments-lbl:hover { cursor: pointer }              
        .area-attacments .btn-success{background-color:#4b85a0;border-color:#4b85a0;}
        .area-attacments .btn-success:focus{box-shadow:none;outline:none;}

 .area-comment{display:none;margin:5px 10px 0 0;}
    .area-comment textarea{background-color: #fffdd6; border: 1px solid #c0c0c0; font-size:12px;width:100%; height: 30px; }

.resizable-helper {
    border-top: 2px solid #090933;
}

.ui-resizable-n { background:#090933; margin-top: 1px; }



/* Start 	:: For Evolution form Editor only [class="app-efe"] 	*/
	/* left column */
	.app-efe .actions-col > .actions-list{background:#4b85a0;font-weight:400;overflow:hidden;}
		.app-efe .actions-list .app-name{font-size:18px;line-height:1.2em;}
			.app-efe .actions-list .app-name span{display:block;padding:20px 12px 17px;}
		.app-efe .actions-list .palette-wrapper{padding:0;}
			.app-efe .actions-list h4.area-title{background:#6bb6d9;cursor:pointer;font-size:18px !important;line-height:20px;margin:1px 0 0;padding:0;}
				.app-efe .actions-list h4.area-title span{display:block;padding:12px;}
			.app-efe .actions-list .slide-box{height:0;overflow:hidden;transition:0.3s;}
			.app-efe .actions-list .active .slide-box{height:auto;overflow-y:auto;}
				.app-efe .actions-list .action-item{background:none;color:#fff;font-size:12px;font-weight:400;line-height:1.2em;margin:0;min-height:0;padding:4px 12px;}
				.app-efe .actions-list .action-item:hover{background:rgba(255,255,255,.1);}
				.app-efe .actions-list .action-item:first-child{margin-top:8px;}
				.app-efe .actions-list .action-item:last-child{margin-bottom:8px;}
					.app-efe .actions-list .action-item .left-icons{display:none;}				
					
.app-efe .edit-area-wrapper{padding:6px 0 0px;}
    .app-efe.edit-area-wrapper .full-line-box{margin-bottom:0px;}
	.app-efe .caption-line{margin-bottom:0px;padding-top:10px;}
		.app-efe .caption-line .area-title-editor{float:left;}
		.app-efe .caption-line .area-title-editor-lbl{float:right;font-size:12px;width:40%;line-height:18px;padding:5px 0 5px 20px;text-align:left;}
		.app-efe .caption-line h3{font-size:20px !important;}
		.app-efe .caption-line h4{font-size:12px !important;font-weight:700;}
		.app-efe .caption-line .edit-area button.action-button{border:0;padding:0;}
			.app-efe .caption-line .edit-area button.action-button img{height:28px;width:28px; margin-bottom: -5px;}
	.app-efe .column-wrapper{padding-bottom:10px;}
		.app-efe .layout-draw .column-wrapper-area .element-area{margin-bottom:50px;padding:0 5px;position:relative;}
		.app-efe .layout-draw .column-wrapper-control-shared-area .element-area{margin:2px 0;padding:0;width:60%;}
		.app-efe .layout-draw .column-wrapper-control .element-area{margin:0 0 10px;padding:0 3px;}
			.app-efe .element-area .left-column{width:100%;position:relative;z-index:1;}
			.app-efe .element-area .right-column{float:none;height:31px;line-height:31px;position:absolute;top:0;right:0;width:auto;z-index:2;}
				.app-efe .layout-draw .element-area:hover:after, .app-efe .layout-draw .column-wrapper-area .element-area .element-child-item:hover:after{background:#b9b9b9 url("../img/pattern-dragable.png");content:"";cursor:pointer;height:100%;width:16px;position:absolute;top:0;left:-20px;}
				.app-efe .layout-draw .column-wrapper-area .element-area .element-child-item:hover:after{display:none;}
               	.app-efe .layout-draw .element-area .element-label{display:inline-block;float:left;font-size:16px;font-weight:400;line-height:31px;margin:0;padding:0;width:33%;}
					.app-efe .layout-draw .column-wrapper-control .element-area .element-label{padding-bottom:0;}
						.app-efe .element-area .element-label .is-not-edit{display:inline-block;float:left;font-size:12px;font-weight:400;}
					.app-efe .layout-draw .element-area .element-child-item{display:inline-block;margin:0;padding:0 10px;width:60%;position:relative;}
					.app-efe .group-body > .left-column > .element-child-item{margin:0;padding:11px 0 0;}
					.app-efe .layout-draw .column-wrapper-control .element-area .element-child-item{background:none;border:0;}
						.app-efe .layout-draw .element-area .element-child-item select{border:1px solid #ddd;border-radius:0;font-size:12px;height:31px;margin:0 !important;padding:0 2px;}

					.app-efe .right-column .element-actions{float:left;height:30px;}
						.app-efe .element-area .element-action{background:none;float:left;padding:1px 0;}
							.app-efe  .element-area .element-action img{height:28px;width:28px;}
					.app-efe .right-column .weight{display:inline-block;margin:0 12px;}
					.app-efe .group-body .right-column .weight{font-size:12px;float:left;}
						.app-efe .right-column .weight .text-lbl{display:none;}
						.app-efe .right-column .weight .text-value{font-size:14px;line-height:30px;}
					.app-efe .group-actions{height:30px;}
					.app-efe .group-actions.group-edit-sec{padding-left:8px;}
						.app-efe .element-label .group-actions.group-edit-sec .element-action-edit{visibility:hidden;}
						.app-efe .element-label:hover .group-actions.group-edit-sec .element-action-edit{visibility:visible;}
					.app-efe .group-actions.group-edit-prime{visibility:hidden;}
					.app-efe .control-in-container:hover .group-actions.group-edit-prime{visibility:visible;}
					/*
					.app-efe .group-body .group-actions{height:30px;width:90px;}
					.app-efe .group-body .group-actions .element-action{visibility:hidden;height:30px;width:28px;}
					.app-efe .group-body .right-column:hover .group-actions .element-action{visibility:visible;}
					.app-efe .group-body .right-column .group-actions .element-action-fail{visibility:visible;}
					.app-efe .group-actions.group-edit-sec{display:block;padding-left:8px;visibility:hidden;}
					.app-efe .group-actions.group-edit-prime{visibility:visible;}
					.app-efe .right-column:hover .group-actions.group-edit-prime{display:block;margin:0 6px;}
					*/


.app-efe .form-check input, .app-efe .form-check-horizontal input{position:absolute;clip:rect(0, 0, 0, 0);}
.app-efe .form-check input + label, .app-efe .form-check-horizontal input + label{cursor:pointer;padding-left:26px;position:relative;;margin-right:20px;}
.app-efe .form-check input + label:after, .app-efe .form-check-horizontal input + label:after{border:1px solid #000;content:"";height:18px;width:18px;position:absolute;top:-1px;left:0;}
.app-efe .radio-control-label .form-check input + label:after, .app-efe .radio-control-label .form-check-horizontal input + label:after{border-radius:50%}
.app-efe .form-check input:checked + label:after, .app-efe .form-check-horizontal input:checked + label:after{background:#000;box-shadow:inset 0 0 0 3px #fff;}

.app-efe .form-main-actions{position:absolute;top:10px;right:20px;}
	.app-efe .form-main-actions .max-score-box{display:inline-block;float:left;font-size:20px;height:40px;line-height:40px;margin-right:30px;}
	.app-efe .form-main-actions button{background:none;border:0;cursor:pointer;float:left;outline:none;padding:0;transition:opacity 0.3s;opacity:.8;}
	.app-efe .form-main-actions button:hover{opacity:1}
		.app-efe .form-main-actions button img{height:40px;width:40px;}

	button.btn-icon{background:none;border:0;cursor:pointer;float:left;outline:none;padding:0;}
	button.btn-icon-opac{transition:opacity 0.3s;opacity:.8;}
	button.btn-icon-opac:hover{opacity:1}
		button.btn-icon img{height:30px;width:30px;}

.survey-form-title {
    background: #d7e6ed;
    border-color: #a4c6d5;
    margin-top: 20px;
    padding-bottom: 10px;
}

/* Custom modals */
.modal-content{}
    .modal-content h3{font-size:20px !important;line-height:1.2em;margin-bottom:20px;padding:0;}
    .modal-content .col-form-label{cursor:pointer;}
    .modal-content .fail-attr-col .form-check-label{cursor:pointer;padding-left:0;}
    .modal-content .fail-attr-col .form-check-input{margin-left:10px;top:2px;position:relative;}
    .modal-content  .dialog-custom-footer{text-align:right;}
        .modal-content  .dialog-custom-btn{background:none;border:0;cursor:pointer;outline:none;padding:0;transition:opacity 0.3s;opacity:.8;}
        .modal-content  .dialog-custom-btn:hover{opacity:1}
            .modal-content  .dialog-custom-btn img{height:40px;width:40px;}
    .modal-content .form-check input, .modal-content .form-check-horizontal input{position:absolute;clip:rect(0, 0, 0, 0);}
    .modal-content .form-check input + label, .modal-content .form-check-horizontal input + label{cursor:pointer;padding-left:26px;position:relative;}
    .modal-content .form-check input + label:after, .modal-content .form-check-horizontal input + label:after{border:1px solid #000;content:"";height:18px;width:18px;position:absolute;top:-1px;left:0;}
    .modal-content .radio-control-label .form-check input + label:after, .modal-content .radio-control-label .form-check-horizontal input + label:after{border-radius:50%;}
    .modal-content .form-check input:checked + label:after, .modal-content .form-check-horizontal input:checked + label:after{background:#000;box-shadow:inset 0 0 0 3px #fff;}
    .modal-content .form-check-horizontal{flex:0 1 auto;margin-right:20px;}
    .modal-content .table-scroller{max-height:200px;overflow-y:auto;}
        .modal-content table.options-table th, .modal-content table.options-table td{border:0;padding:7px;}
        .modal-content table.options-table tr.selected td{background:#6bb6d9;color:#fff;}
        .modal-content table td.remove-btn-box{background:none !important;color:#333;padding:0;width:30px;}
            .modal-content table td.remove-btn-box img{display:none;}
            .modal-content table tr.selected td.remove-btn-box img{display:block;opacity:.4;}
            .modal-content table tr.selected td.remove-btn-box img:hover{opacity:.6;}
        .modal-content table td.col-dragable{padding:0;width:14px;}
        .modal-content table tr.selected td.col-dragable{background:#6bb6d9 url("../img/pattern-dragable.png");cursor:pointer;}
        .modal-content table .col-text-wrapper{height:18px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:530px;}
    .modal-content .add-row-button-box{margin:10px 0 0 14px;}
    .modal-content .area-checkbox{position:relative;top:2px;}
    .modal-content label img{float:left;height:24px;margin:0 6px 0 3px;width:24px;position:relative;top:-1px;}
    .modal-content select.form-control:not([size]):not([multiple]){height:34px;}
    .modal-content .click-line{ margin:20px 0; }
    	.modal-content .click-line span{ border-bottom:1px dotted; cursor:pointer; }
    	.modal-content .click-line .click-line-delete { visibility: hidden; display: inline; }
    	.modal-content .click-line .click-line-label { display: inline; }    	
    	.modal-content .click-line img{ height:28px; width:28px; }    	    
    	.modal-content .click-line:hover .click-line-delete { visibility: visible; cursor:pointer; }
    	
.preview-loading{width:24px;height:24px; margin: 100px auto; background: url(../img/loading.gif) center center no-repeat;}    	
    	
/* End 		:: For Evolution form Editor only [class="app-efe"]	 	*/

button.btn-underlined { background:none; color:#333; outline:none !important; border:0 !important;box-shadow:none !important;}
.btn-underlined span { border-bottom: 1px dotted #333; }


.ui-dialog .ui-resizable-n{height:0;border:0;overflow:hidden;}
.ui-selectmenu-menu .ui-menu { max-height: 200px; }
.ui-selectmenu-button {
	float: left; margin-top: 6px; margin-right: 10px;
}

.ui-selectmenu-button-viewer {
	float: none; margin-top: 0px; margin-right: 0px;
}